<%= turbo_frame_tag "forecast" do %>
<div class="relative isolate overflow-hidden">
  <div class="mx-auto">
    <div class="mx-auto grid w-[42rem] grid-cols-1 gap-x-8 gap-y-16">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-text sm:text-4xl">
          Check your local weather
        </h2>
        <div class="mt-8">
          <%= render Forecast::FormComponent.new %>
        </div>
      </div>
    </div>

    <div class="mt-4 text-love">
      <%# display flash alerts %>
    </div>

    <%# TODO: Render forecast cards styled with bg-surface, border-overlay, text-subtle %>
  </div>
</div>
<% end %>
